/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-size: 18px;
  color: var(--main-font-color);
  font-family: var(--main-font-family), sans-serif;
  background-image: var(--background-gradient);
  background-size: cover;
  font-variation-settings: 'wght' var(--main-font-weight);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  inline-size: var(--block-width);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font-family);
  margin-block-start: 102px;
  border: 2px solid var(--main-font-color);
  text-transform: uppercase;
}

.header button {
  text-transform: uppercase;
  font-size: 14px;
}

.title {
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-start: clamp(136px, 10%, 120px);
  /* margin-block-start: 136px; */
}

.header > p {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block: 20px 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-block-end: 25px;
  font-size: 14px;
}

.theme-menu__item button:hover,
.theme-menu__item button:focus-visible {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
  outline: none;
}

.theme-menu__item button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__item button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--main-font-color);
}

.theme-menu__item button:focus-visible::after {
  outline: none;
  width: 100%;
  opacity: 0.6;
  transition: width 0.3s ease, opacity 0.3s ease;
}

.theme-menu__item button:disabled::before {
  content: '▶';
  display: inline-block;
  opacity: 0.6;
  animation: cursor-translation 1.5s ease-in-out infinite;
  /* сделал анимацию с большим временем проигрывания, так как при 0.5 с скорость не соответствовала видео в задании */
}

@keyframes cursor-translation {
  0% {
    transform: translateX(0);
  }
  
  50% {
    transform: translateX(4px);
  }

  100% {
    transform: translateX(0px);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 95px;
}

.card {
  inline-size: var(--block-width);
  background-color: var(--background-color);
  border: 2px solid var(--main-font-color);
}

.card:not(:first-child) {
  margin-block-start: 57px;
}

.image-section {
  position: relative;
}

.image-text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: 400;
  color: var(--main-font-color);
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index: 1;
  text-shadow: -0.2px 0 var(--text-stroke-color), 
                0 0.2px var(--text-stroke-color), 
                0.2px 0 var(--text-stroke-color), 
                0 -0.2px var(--text-stroke-color);;
}

@supports((text-stroke: 0.2px var(--text-stroke-color)) or (-webkit-text-stroke: 0.2px var(--text-stroke-color))) {
  .image-text {
      -webkit-text-stroke: 0.2px var(--text-stroke-color);
      text-stroke: 0.2px var(--text-stroke-color);
      text-shadow: none;
  }
}

.card-image {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center right;
}

.card-title {
  font-variation-settings: var(--accent-font-weight);
  margin-inline: 10px 24px;
  font-size: 18px;
  min-block-size: 31px;
  display: flex;
  align-items: center;
}

.card-text {
  font-weight: var(--main-font-weight);
  line-height: 21px;
  margin-inline: 25px;
  margin-block-start: 27px;
  font-size: 18px;
}

.reaction {
  display: grid;
  grid-template-columns: auto auto;
  grid-row: auto;
  justify-content: end;
  align-items: center;
  gap: 12px;

}

.card__like-button {
  margin-inline-end: 25px;
  margin-block: 25px;
  inline-size: 130px;
  block-size: 38px;
}

.card__icon-button {
  inline-size: 39px;
  block-size: 36px;
}

.like-icon {
  margin: 0;
  fill: currentColor;
  inline-size: 39px;
  block-size: 36px;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-font-color);
  transition: outline 0.3s ease;
}

.like-icon .heart {
  transform-origin: center center;
}

.like-icon .contour {
  fill: currentColor;
}

.like-icon .sparks {
  fill: var(--liked-color);
  opacity: 0;
}

.like-icon .main-body {
  fill: none;
  transition: fill linear 0.3s;
}

.like-icon:hover .main-body {
  fill: currentColor;
  transition: fill linear 0.3s 0.05s;
}

.like-icon .core {
  fill: none;
  transition: fill linear 0.3s 0.03s;
}

.like-icon:hover .core {
  fill: currentColor;
  transition: fill linear 0.3s;
}

.like-icon:active .main-body {
  fill: var(--liked-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--liked-color);
  transition: fill linear 0.3s;
}

/* анимации при клике на .like-icon */
.like-icon.is-liked  .core {
  fill: var(--liked-color);
  transition: fill linear 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--liked-color);
  transition: fill linear 0.3s 0.03s;
}

.like-icon.is-liked .contour {
  fill: var(--liked-color);
  transition: fill linear 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scaling ease-in 0.3s 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks ease-in 0.3s 0.3s;
}

@keyframes heart-scaling {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.5;
  }

  100% {
    scale: 1.0;
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.button-interactive {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  border: 2px solid var(--main-font-color);
  font-size: 14px;
  font-weight: 400;
  font-family: var(--accent-font-family);
  line-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.button-interactive:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-font-color);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.button-interactive::before {
  content: '';
  background-color: var(--blend-mode-color);
  position: absolute;
  inset: -2px 0;
  translate: -100% 0;
  animation: move-backword 0.5s ease-in-out forwards;
  mix-blend-mode: difference;
}

.button-interactive:hover::before {
  animation: move 0.5s ease-in-out forwards;
}


@keyframes move {
  from {
    translate: -100% 0;
  }

  to {
    translate: 0% 0%;
  }
}

@keyframes move-backword {
  from {
    translate: -0% 0;
  }

  to {
    translate: -100% 0%;
  }
}

.save-button {
  min-inline-size: 306px;
  max-inline-size: 355px;
  inline-size: 24.6%;
  min-block-size: 38px;
  margin-block: 54px 102px;
  background-color: var(--background-color);
  gap: 8px;
}

.floppy {
  inline-size: 21px;
  aspect-ratio: 1/ 1;
  fill: currentColor;
  flex-wrap: wrap;
}

dialog {
  background-color: var(--background-color);
  color: var(--main-font-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: 400;
  border: 2px solid var(--main-font-color);
  outline: none;
  inline-size: min(90.9%, 357px);
  padding: 30px;
  position: fixed;
  inset: 0;
  margin: auto;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-content {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.dialog-content svg {
  inline-size: 39px;
  aspect-ratio: 1/1;
}

.dialog-button {
  inline-size: 100%;
  text-transform: uppercase;
  margin-block-start: 30px;
  padding-block: 9px;
}

.saturated {
  filter: saturate(200%);
}

.sepia {
  filter: sepia(80%);
}

.invert {
  filter: invert(0.7);
}

.multi-filter {
  filter: sepia(1) contrast(2) brightness(200%);
}

.blur {
  filter: blur(10px);
}

.grayscale {
  filter: grayscale(0.7);
}
