/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-size: 18px;
  color: var(--main-font-color);
  font-family: var(--main-font-family), sans-serif;
  background-image: var(--background-gradient);
  background-size: cover;
  font-variation-settings: 'wght' var(--main-font-weight);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  inline-size: var(--block-width);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font-family);
  margin-block-start: 102px;
  border: 2px solid var(--main-font-color);
  text-transform: uppercase;
}

.header button {
  text-transform: uppercase;
  font-size: 14px;
}

.title {
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-start: clamp(136px, 10%, 120px);
  /* margin-block-start: 136px; */
}

.header > p {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block: 20px 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-block-end: 25px;
  font-size: 14px;
}

.theme-menu__item button:disabled {
  opacity: 0.6;
}

.theme-menu__item button:disabled::before {
  content: '▶';
  display: inline;
  opacity: 0.6;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 107px;
}

.card {
  inline-size: var(--block-width);
  background-color: var(--background-color);
  border: 2px solid var(--main-font-color);
}

.card-image {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center right;
}

.card-title {
  font-weight: var(--accent-font-weight);
  margin-inline: 10px 24px;
  font-size: 18px;
}

.card-text {
  font-weight: var(--main-font-weight);
  line-height: 21px;
  margin-inline: 25px;
  margin-block-start: 27px;
}