/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: "Inter", "Arial", sans-serif;
  --accent-font-family: "PressStart2P", fantasy;
  --backdrop-color: rgb(0 0 0 / 0.75);
  --block-width: clamp(375px, 48.5%, 696px);
  --liked-color: #ff0000;
  --title-margin: 136px;
  --main-font-color: #00cc14;
  --main-font-weight: 465;
  --accent-font-weight: "wght" 785;
  --background-gradient: repeating-linear-gradient(
      to right,
      #000,
      transparent 2px
    ),
    repeating-linear-gradient(to bottom, #000, transparent 2px),
    linear-gradient(to bottom, #007f0c, #004306);
  --background-color: #000;
  --text-stroke-color: #000;
  --blend-mode-color: #00cc14;
}

@media (width <= 380px) {
  :root {
    --block-width: 100%;
    --title-margin: 120px;
  }
}
