/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font-family: 'Inter-Variable';
    --accent-font-family: 'PressStart2P';
    --block-width:clamp(375px, 48.3%, 696px)
}

@media (max-width: 380px) {
    :root {
        --block-width: 100%;
    }

    .card-title {
        margin-inline: 10px;
    }

      .header > p {
        font-size: 14px;
    }

    .image-text {
      inset-inline-end: 11px;
    }
}